body, html, .inner, .outer {
  height: 100%;
  margin: 0;
  background-color: #333;
  overflow: hidden;
}

#horizon {
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-rows: 1fr;

  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.container {
  overflow: hidden;
}

.gutter {
  cursor: col-resize;
}

#gutter1 {
  grid-area: 1 / 2 / 1 / 2;
}

#gutter2 {
  grid-area: 1 / 4 / 1 / 4;
}

select {
  width: 100%;
}

.myGreenDecoration {
  background: rgba(0, 255, 0, 0.2);
}
.myRedDecoration {
  background: rgba(255, 0, 0, 0.2);
}