name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
    - run: docker-compose --version
    - run: npm run docker:start
    - run: npm run install
    - run: npm run link-local
    - run: npm test
