name: Web

on: [push, pull_request]

jobs:
  transpiler:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: cd web/transpiler && npm install
    - name: npm run build
      run: npm run build
    - name: deploy transpiler.abaplint.org
      if: github.ref == 'refs/heads/master' && github.repository == 'abaplint/transpiler'
      env:
        MY_TOKEN: ${{ secrets.MY_TOKEN }}
      run: |
        cd ..
        cd ..
        git config --global user.email "actions@github.com"
        git config --global user.name "Actions CI"
        git clone https://github.com/abaplint/transpiler.abaplint.org.git
        ls
        cp transpiler/transpiler/web/transpiler/dist/* transpiler.abaplint.org/
        cd transpiler.abaplint.org
        git add -A
        git status
        git diff-index --quiet HEAD || git commit -m "Automatic update"
        git push -q https://$MY_TOKEN@github.com/abaplint/transpiler.abaplint.org.git > /dev/null 2>&1