name: Web

on: [push, pull_request]

jobs:
  transpiler:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: npm install
      run: |
        npm run docker:start
        npm run install
        npm run link-local
        npm test
        cd web/transpiler
        npm install
        npm run build
    - name: deploy transpiler.abaplint.org
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main' && github.repository == 'abaplint/transpiler'
      with:
        deploy_key: ${{ secrets.DEPLOY_TRANSPILER_ABAPLINT_ORG }}
        external_repository: abaplint/transpiler.abaplint.org
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        publish_branch: main
        cname: transpiler.abaplint.org
        force_orphan: true
        publish_dir: ./web/transpiler/dist
